{% load static %}


<div class="clearfix widget-wrapper wt1tb simp-custom-home-explore-text simp-custom-blog-padding" data-widget-id="2292853" style=" ">
    <div class="col-xs-12 one-col text-content">
        <div class="text-content-wrapper">
            <p></p>
            <h2>About | The Stay Bliss Retreats</h2>
            <p>Business or Leisure, we have got your back! Clarks Hotels is the ideal source for exploring travel destinations. From Mussoorie to Mysore, and from Jaipur to Jammu, get all the information you need about any place
                you want to visit at Clarks Hotels!</p>
            <div contenteditable="false" tabindex="-1">
                <div class="txt-wdgt-btn-wrapper" data-widget="btbutton" style="text-align: left;"><a class="btn txt-wdgt-btn btn-default pull-left internal-link" data-linktype="internalpagelink" data-page-id="815273" href="./blogs.html" target="_self"><span class="text">About Us</span></a></div>
            </div>
            <p></p>
        </div>
    </div>
</div>
<div class="clearfix widget-wrapper wt1imgtop-1tbbot imageDescriptionbottom1 wt-image-text-slider nonFullWidthWidget simp-custom-home-explore-slider simp-custom-new-slider simp-custom-hide-only-mobile" data-widget-id="2292854"
    style=" ">
    <div class="col-xs-12 one-col text-content"><img alt="Cover-01" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/w_5000,h_2812/x_0,y_0,w_4998,h_2812,r_0,c_crop,q_80,fl_progressive/w_900,f_auto,c_fit/the-clarks-hotels-resorts/Cover-01_h8faxx"
            style="aspect-ratio: 4998/2812; " />
        <div class="text-content-wrapper">
            <p></p>
            <p>none</p>
            <p></p>
        </div>
    </div>
    <div class="col-xs-12 one-col text-content"><img alt="Cover-02" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/w_5000,h_2812/x_0,y_0,w_4998,h_2812,r_0,c_crop,q_80,fl_progressive/w_900,f_auto,c_fit/the-clarks-hotels-resorts/Cover-02_oscys9"
            style="aspect-ratio: 4998/2812; " />
        <div class="text-content-wrapper">
            <p></p>
            <p>none</p>
            <p></p>
        </div>
    </div>
    <div class="col-xs-12 one-col text-content"><img alt="Cover-03" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/w_5000,h_2812/x_0,y_0,w_4998,h_2812,r_0,c_crop,q_80,fl_progressive/w_900,f_auto,c_fit/the-clarks-hotels-resorts/Cover-03_jjlpc0"
            style="aspect-ratio: 4998/2812; " />
        <div class="text-content-wrapper">
            <p></p>
            <p>none</p>
            <p></p>
        </div>
    </div>
</div>