{% load static %}

<div class="clearfix widget-wrapper wt1tb fullWidthWidget simp-custom-padding-top" data-widget-id="2294666" style=" ">
    <div class="fullWidthWidgetWrapper clearfix">
        <div class="col-xs-12 one-col text-content">
            <div class="text-content-wrapper">
                <p></p>
                <h2 style="text-align: center;">Explore Our Properties</h2>
                <p></p>
            </div>
        </div>
    </div>
</div>
<div class="clearfix widget-wrapper wt1imgtop-1tbbot imageDescriptionbottom1 wt-image-text-slider fullWidthWidget simp-custom-media simp-custom-explore-changes" data-widget-id="2299922" style=" ">
    <div class="fullWidthWidgetWrapper clearfix">
        <div class="col-xs-12 one-col text-content"><img alt="New Tumbnails-12" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/x_0,y_0,w_4500,h_4500,r_0,c_crop,q_80,fl_progressive/w_1350,f_auto,c_fit/the-clarks-hotels-resorts/New_Tumbnails-12_egf5kp"
                style="aspect-ratio: 4500/4500; " />
            <div class="text-content-wrapper">
                <p></p>
                <p>Clarks Inn, Etawah</p>
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 one-col text-content"><img alt="Explore-02" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/x_0,y_0,w_4500,h_4500,r_0,c_crop,q_80,fl_progressive/w_1350,f_auto,c_fit/the-clarks-hotels-resorts/Explore-02_ftbcie"
                style="aspect-ratio: 4500/4500; " />
            <div class="text-content-wrapper">
                <p></p>
                <p><a class="internal-link" data-page-id="853279" href="./clarks-inn-express-ayodhya/" target="_self">Clarks Inn Express, Ayodhya</a></p>
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 one-col text-content"><img alt="New Tumbnails-13" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/x_0,y_0,w_4500,h_4500,r_0,c_crop,q_80,fl_progressive/w_1350,f_auto,c_fit/the-clarks-hotels-resorts/New_Tumbnails-13_h4btrg"
                style="aspect-ratio: 4500/4500; " />
            <div class="text-content-wrapper">
                <p></p>
                <p><a class="internal-link" data-page-id="847048" href="./clarks-inn-express-rishikesh/" target="_self">Clarks Inn Express, Rishikesh</a></p>
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 one-col text-content"><img alt="New Tumbnails-14" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/x_0,y_0,w_4500,h_4500,r_0,c_crop,q_80,fl_progressive/w_1350,f_auto,c_fit/the-clarks-hotels-resorts/New_Tumbnails-14_mnxyk0"
                style="aspect-ratio: 4500/4500; " />
            <div class="text-content-wrapper">
                <p></p>
                <p><a class="internal-link" data-page-id="847166" href="./clarks-exotica-island-house-port-blair/" target="_self">Clarks Exotica Island House, Port Blair</a></p>
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 one-col text-content"><img alt="New Tumbnails-15" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/x_0,y_0,w_4500,h_4500,r_0,c_crop,q_80,fl_progressive/w_1350,f_auto,c_fit/the-clarks-hotels-resorts/New_Tumbnails-15_jx7pxv"
                style="aspect-ratio: 4500/4500; " />
            <div class="text-content-wrapper">
                <p></p>
                <p><a class="internal-link" data-page-id="851706" href="./kvr-clarks-inn-kufri-shimla/" target="_self">KVR Clarks Inn Kufri, Shimla</a></p>
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 one-col text-content"><img alt="Explore-06" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/x_0,y_0,w_4500,h_4500,r_0,c_crop,q_80,fl_progressive/w_1350,f_auto,c_fit/the-clarks-hotels-resorts/Explore-06_gjmpdq"
                style="aspect-ratio: 4500/4500; " />
            <div class="text-content-wrapper">
                <p></p>
                <p><a class="internal-link" data-page-id="836613" href="./clarks-inn-suites-manali/" target="_self">Clarks Inn Suites, Manali</a></p>
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 one-col text-content"><img alt="New Tumbnails-11" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/x_0,y_0,w_4500,h_4500,r_0,c_crop,q_80,fl_progressive/w_1350,f_auto,c_fit/the-clarks-hotels-resorts/New_Tumbnails-11_wbjexs"
                style="aspect-ratio: 4500/4500; " />
            <div class="text-content-wrapper">
                <p></p>
                <p>Clarks Inn Suites, Hyderabad</p>
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 one-col text-content"><img alt="New Tumbnails-16" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/x_0,y_0,w_4500,h_4500,r_0,c_crop,q_80,fl_progressive/w_1350,f_auto,c_fit/the-clarks-hotels-resorts/New_Tumbnails-16_mwjsck"
                style="aspect-ratio: 4500/4500; " />
            <div class="text-content-wrapper">
                <p></p>
                <p><a class="internal-link" data-page-id="850491" href="./celestial-villas-suites-kandy/" target="_self">Celestial Hills - Villas &amp; Suites by The Clarks, Kandy</a></p>
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 one-col text-content"><img alt="Explore-09" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/x_0,y_0,w_4500,h_4500,r_0,c_crop,q_80,fl_progressive/w_1350,f_auto,c_fit/the-clarks-hotels-resorts/Explore-09_y2keef"
                style="aspect-ratio: 4500/4500; " />
            <div class="text-content-wrapper">
                <p></p>
                <p>Clarks Inn, Dharamshala</p>
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 one-col text-content"><img alt="Explore-10" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/x_0,y_0,w_4500,h_4500,r_0,c_crop,q_80,fl_progressive/w_1350,f_auto,c_fit/the-clarks-hotels-resorts/Explore-10_iwsunj"
                style="aspect-ratio: 4500/4500; " />
            <div class="text-content-wrapper">
                <p></p>
                <p>Clarks Inn, Indore</p>
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 one-col text-content"><img alt="New Tumbnails-17" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/x_0,y_0,w_4500,h_4500,r_0,c_crop,q_80,fl_progressive/w_1350,f_auto,c_fit/the-clarks-hotels-resorts/New_Tumbnails-17_b6aefz"
                style="aspect-ratio: 4500/4500; " />
            <div class="text-content-wrapper">
                <p></p>
                <p><a class="internal-link" data-page-id="866189" href="./aotel-by-clarks-inn-palampur/" target="_self">Aotel by Clarks Inn Palampur</a></p>
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 one-col text-content"><img alt="Clarks Facade1" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/w_5000,h_3327/x_837,y_0,w_3327,h_3327,r_0,c_crop,q_80,fl_progressive/w_1350,f_auto,c_fit/clarks-safari-kheda-ahmedabad/Clarks_Facade1_o7vaeg"
                style="aspect-ratio: 3327/3327; " />
            <div class="text-content-wrapper">
                <p></p>
                <p>Clarks Safari Kheda, Ahmedabad</p>
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 one-col text-content"><img alt="An image of banquet hall at Clarks Inn Bathinda with a lot of chairs arranged.|" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/x_441,y_0,w_718,h_718,r_0,c_crop,q_80,fl_progressive/w_718,f_auto,c_fit/clarks-inn-bathinda/Banquet_(2)"
                style="aspect-ratio: 718/718; " />
            <div class="text-content-wrapper">
                <p></p>
                <p><a class="internal-link" data-page-id="875707" href="./clarks-inn-bathinda/" target="_self">Clarks Inn, Bathinda</a></p>
                <p></p>
            </div>
        </div>
    </div>
</div> 