{% load static %}

{% comment %} <footer class="bottom col-xs-12 foot_block" id="footer">
    <div class="container">
        <div class="comm_cont">
            <div class="col-xs-12">
                <div class="add_head">
                    <p>The Clarks Hotels &amp; Resorts</p>
                    <p>707 Emaar Capital Tower, Mehrauli - Gurgaon Road, Sector 26 Gurugram - Haryana 122002</p>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="address_block col-xs-12">
                    <div class="row">
                        <div class="add_cont">
                            <ul class="">
                                <li>
                                    <div class="footer-detail mail-show-hide"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i> <i class="fa fa-envelope fa-stack-1x"></i></span> <a href="mailto:centralreservations@theclarkshotels.com?Subject=Enquiry" target="_top">centralreservations@theclarkshotels.com</a></div>
                                </li>
                                <li>
                                    <div class="footer-detail"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i> <i class="fa fa-phone fa-stack-1x"></i></span><span>1800 202 7707 | Toll Free Number</span></div>
                                </li>
                                <li>
                                    <div class="footer-detail"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i> <i class="fa fa-phone fa-stack-1x"></i></span> <span>+91 971717 0578 | Central Reservation</span></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 footer-row">
                    <div class="social_block col-sm-12 col-md-5">
                        <div class="social_head">
                            <p>Get In Touch</p>
                        </div>
                        <div class="social_cont">
                            <div class="socialIcon"><a class="social-fb" href="https://www.facebook.com/theclarkshotelsandresorts" target="_blank"><span class="fa fa-facebook"></span></a> <a class="social-lin" href="https://www.linkedin.com/company/theclarkshotelsresorts"
                                    target="_blank"><span class="fa fa-linkedin"></span></a> <a class="social-ig" href="https://www.instagram.com/theclarkshotelsandresorts/?utm_medium=copy_link" target="_blank"><span class="fa fa-instagram"></span></a>                                        <a class="social-wa" href="https://web.whatsapp.com/send?phone=+91-92058 67733" target="_blank"><span class="fa fa-whatsapp"></span></a> <a class="social-yt" href="https://www.youtube.com/@theclarkshotelsandresorts"
                                    target="_blank"><span class="fa fa-youtube"></span></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 footer-row footer_navbar_wrapper">
                <div class="clearfix">
                    <nav class="footer_navbar">
                        <ul class="nav navbar-nav">
                            <li class="second-li"><a class="active" href="./">Home</a></li>
                            <li class="second-li"><a class="" href="./our-brands.html">Our Brands</a></li>
                            <li class="second-li"><a class="" href="./brand-association.html">Brand Association</a></li>
                            <li class="second-li"><a class="" href="./clarks-offers.html">Clarks Offers</a></li>
                            <li class="second-li"><a class="" href="./blogs.html">Blogs</a></li>
                            <li class="second-li"><a class="" href="./careers.html">Careers</a></li>
                            <li class="second-li"><a class="" href="./covid-19-safety-measures.html">Covid-19 Safety Measures</a></li>
                            <li class="second-li"><a class="" href="./contact-us/hotel-directory.html">Contact Us</a></li>
                            <li class="second-li"><a class="" href="./privacy-policy.html">Privacy Policy</a></li>
                            <li class="second-li"><a class="False" href="https://bookings.theclarkshotels.com/property/6225/bookings/manage/">Manage Booking</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="comm_cont f_bot">
                <div class="container">
                    <div class="col-xs-12 text-center"><a href="./sitemap.html" title="click here for sitemap">Sitemap</a>
                        <p><a href="//www.simplotel.com" target="_blank">Simplotel - Hotel Website Design &amp; Booking Engine</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fade in cb-hide" id="continueBooking"><button class="close"></button>
        <div class="cb-wrap">
            <div class="cb-main">
                <h4 class="cb-name"></h4>
                <h4 class="cb-heading">Continue your booking</h4>
                <p class="cb-hotel-name"></p>
                <p class="cb-book-details"></p>
            </div>
            <div class="cb-arrow"><i class="fa fa-angle-right"></i></div>
        </div>
        <p class="cb-room-price"></p>
    </div>
</footer> {% endcomment %}

{% load static %}

 
<footer class="bottom col-xs-12 foot_block" id="footer">
    <div class="container">
        <div class="comm_cont">
            <div class="col-xs-12">
                <div class="add_head">
                    <p>The Stay Bliss Retreats</p>
                    <p>Location: In the Heart of Shimla, "Chail"</p>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="address_block col-xs-12">
                    <div class="row">
                        <div class="add_cont">
                            <ul class="">
                                <li>
                                    <div class="footer-detail mail-show-hide"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i> <i class="fa fa-envelope fa-stack-1x"></i></span> <a href="mailto:centralreservations@theclarkshotels.com?Subject=Enquiry" target="_top">sales@littleheartresort.com</a></div>
                                </li>
                                <li>
                                    <div class="footer-detail"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i> <i class="fa fa-phone fa-stack-1x"></i></span><span>+917011311171 | For Booking</span></div>
                                </li>
                                <li>
                                    <div class="footer-detail"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i> <i class="fa fa-phone fa-stack-1x"></i></span> <span>+91 9555555563 | General Queries</span></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 footer-row">
                    <div class="social_block col-sm-12 col-md-5">
                        <div class="social_head">
                            <p>Get In Touch</p>
                        </div>
                        <div class="social_cont">
                            <div class="socialIcon"><a class="social-fb" href="https://www.facebook.com/profile.php?id=100064060179668&mibextid=ZbWKwL" target="_blank"><span class="fa fa-facebook"></span></a>
                                <a class="social-lin" href="https://www.linkedin.com/company/theclarkshotelsresorts" target="_blank"><span class="fa fa-linkedin"></span></a>
                                <a class="social-ig" href="https://www.instagram.com/littleheartresortchail?igsh=aGh5MmxtdXI0azFi" target="_blank"><span class="fa fa-instagram"></span></a>                                        
                                <a class="social-wa" href="https://web.whatsapp.com/send?phone=+91-7011311171" target="_blank"><span class="fa fa-whatsapp"></span></a>
                                <a class="social-yt" href="https://www.youtube.com/@theclarkshotelsandresorts" target="_blank"><span class="fa fa-youtube"></span></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 footer-row footer_navbar_wrapper">
                <div class="clearfix">
                    <nav class="footer_navbar">
                        <ul class="nav navbar-nav">
                            <li class="second-li"><a class="active" href="#">Home</a></li>
                            <li class="second-li"><a class="" href="#">Rooms</a></li>
                            <li class="second-li"><a class="" href="#">Cottages</a></li>
                            <li class="second-li"><a class="" href="#">Open Air Restaurant</a></li>
                            <li class="second-li"><a class="" href="#">Careers</a></li>
                            <!-- <li class="second-li"><a class="" href="#">Covid-19 Safety Measures</a></li> -->
                            <li class="second-li"><a class="" href="#">Contact Us</a></li>
                            <li class="second-li"><a class="" href="#">Conference Hall</a></li>
                            <li class="second-li"><a class="" href="#">Open Lawn</a></li>
                            <li class="second-li"><a class="False" href="#">Water Fall</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="comm_cont f_bot">
                <div class="container">
                    <div class="col-xs-12 text-center"><a href="" title="click here for sitemap">Codecutsmedia</a>
                        <p><a href="//www.simplotel.com" target="_blank">Codecutsmedia - Hotel Website Design &amp; Booking Engine</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="fade in cb-hide" id="continueBooking"><button class="close"></button>
        <div class="cb-wrap">
            <div class="cb-main">
                <h4 class="cb-name"></h4>
                <h4 class="cb-heading">Continue your booking</h4>
                <p class="cb-hotel-name"></p>
                <p class="cb-book-details"></p>
            </div>
            <div class="cb-arrow"><i class="fa fa-angle-right"></i></div>
        </div>
        <p class="cb-room-price"></p>
    </div> -->
</footer>






<p id="back-top"><a class="up" href="#top"><span class="fa fa-angle-down"></span></a></p>
</main>
<div id="fb-root"></div><input id="assetRelPath" type="hidden" value="./" /><input id="device" type="hidden" value="desktop" /><input id="template_type" type="hidden" value="common" /><input id="hotel_id" type="hidden" value="6225" /><input id="bookingUrl" type="hidden"
    value="https://bookings.theclarkshotels.com" /><input id="bookingUrlApi" type="hidden" value="https://bookings.simplotel.com/" /><input id="websiteMessagingStatus" type="hidden" value="True" /><input id="parent_hotel_id" type="hidden" value="6225"
/>
<div id="booking-modal-toggle-skel" style="display: none;"><button class="btn booking-modal-toggle resv_button" data-target="#resv-form" data-toggle="modal">Book Now</button></div>
<div aria-labelledby="myModalLabel" class="modal fade inner-page-booking-modal" id="hotelBookModal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="close-wrap">
                    <div class="close-text">Close</div>
                </div>
                <h4 class="modal-title" id="myModalLabel">Book Now</h4>
            </div>
            <div class="modal-body">
                <div class="booking-form-wrapper"><button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true"><svg data-name="Layer 1" id="Layer_1" viewbox="0 0 46.09 45.63" xmlns="http://www.w3.org/2000/svg"><defs><style>.cls-1{fill:#a8a7a8;}</style></defs><title>Close</title><rect class="cls-1" height="0.77" transform="translate(256.16 715.69) rotate(-134.72)" width="32.07" x="655.97" y="321.5"></rect><rect class="cls-1" height="0.77" transform="translate(730.96 -194.29) rotate(135.28)" width="32.07" x="655.59" y="343.63"></rect><rect class="cls-1" height="0.78" transform="translate(-209.8 -701.29) rotate(45.28)" width="32.26" x="677.79" y="343.69"></rect><rect class="cls-1" height="0.78" transform="translate(-685.44 271.49) rotate(-44.72)" width="32.26" x="678.18" y="321.42"></rect></svg></span></button></div>
            </div>
        </div>
    </div>
</div>


