{% load static %}

<div class="clearfix widget-wrapper wt1tb bgColorContainer fullWidthWidget simp-custom-media-news-header" data-widget-id="2292846" style="background-color: #fff; ">
    <div class="fullWidthWidgetWrapper clearfix">
        <div class="col-xs-12 one-col text-content">
            <div class="text-content-wrapper">
                <p></p>
                <h2>Media &amp; News</h2>
                <p></p>
            </div>
        </div>
    </div>
</div>
<div class="clearfix widget-wrapper wt1imgtop-1tbbot imageDescriptionbottom1 wt-image-text-slider bgColorContainer fullWidthWidget simp-custom-media" data-widget-id="2295880" style="background-color: #fff; ">
    <div class="fullWidthWidgetWrapper clearfix">
        <div class="col-xs-12 one-col text-content"><img alt="Web-04" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/w_5000,h_2812/x_1094,y_0,w_2812,h_2812,r_0,c_crop,q_80,fl_progressive/w_1350,f_auto,c_fit/the-clarks-hotels-resorts/Web-04_mogy39"
                style="aspect-ratio: 2812/2812; " />
            <div class="text-content-wrapper">
                <p></p>
                <p>ET Hospitality</p><a href="https://hospitality.economictimes.indiatimes.com/news/hotels/my-vision-is-to-make-the-clarks-hotels-resorts-a-leading-global-brand-out-of-india-aryavir-kumar/101030439" target="_blank"><span>My vision is to make The Clarks Hotels &amp; Resorts a leading global brand out of India: Aryavir Kumar</span></a>
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 one-col text-content"><img alt="05-07" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/w_5000,h_2813/x_1094,y_0,w_2813,h_2813,r_0,c_crop,q_80,fl_progressive/w_1350,f_auto,c_fit/the-clarks-hotels-resorts/05-07_zhivdg"
                style="aspect-ratio: 2813/2813; " />
            <div class="text-content-wrapper">
                <p></p>
                <p>Money Control</p><a href="https://www.moneycontrol.com/news/business/budget/budget-2023-expectations-from-defence-real-estate-hospitality-and-health-sector-9880451.html" target="_blank"><span>Budget 2023 expectations from defence, real estate, hospitality and health sector</span></a>
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 one-col text-content"><img alt="CNBC" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/x_0,y_60,w_1080,h_1080,r_0,c_crop,q_80,fl_progressive/w_1080,f_auto,c_fit/the-clarks-hotels-resorts/CNBC_imghq9"
                style="aspect-ratio: 1080/1080; " />
            <div class="text-content-wrapper">
                <p></p>
                <p>CNBC</p><a href="https://www.cnbctv18.com/business/hospitality-sector-changing-at-fast-pace-travelers-have-become-more-conscious-aryavir-kumar-hotel-clarks-inn-17246221.htm" target="_blank"><span>Hospitality sector changing at fast pace, travelers have become more conscious: Aryavir Kumar</span></a>
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 one-col text-content"><img alt="Explore-05" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/x_0,y_0,w_4500,h_4500,r_0,c_crop,q_80,fl_progressive/w_1350,f_auto,c_fit/the-clarks-hotels-resorts/Explore-05_ir9m0o"
                style="aspect-ratio: 4500/4500; " />
            <div class="text-content-wrapper">
                <p></p>
                <p>Hotelier India</p><a href="https://www.cnbctv18.com/business/hospitality-sector-changing-at-fast-pace-travelers-have-become-more-conscious-aryavir-kumar-hotel-clarks-inn-17246221.htm" target="_blank"><span>The Clarks Hotels &amp; Resorts aims to open 10 more villas by the end of 2023</span></a>
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 one-col text-content"><img alt="8" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/x_280,y_0,w_720,h_720,r_0,c_crop,q_80,fl_progressive/w_720,f_auto,c_fit/the-clarks-hotels-resorts/8_hkrkbq"
                style="aspect-ratio: 720/720; " />
            <div class="text-content-wrapper">
                <p></p>
                <p>Travel Trade Journal</p><a href="https://traveltradejournal.com/the-clarks-hotels-and-resorts-launches-villas-and-suites-by-the-clarks/" target="_blank"><span>The Clarks Hotels and Resorts launches Villas and Suites by The Clarks</span></a>
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 one-col text-content"><img alt="Day-03" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/x_0,y_0,w_4500,h_4500,r_0,c_crop,q_80,fl_progressive/w_1350,f_auto,c_fit/the-clarks-hotels-resorts/Day-03_emthgd"
                style="aspect-ratio: 4500/4500; " />
            <div class="text-content-wrapper">
                <p></p>
                <p>BW Hotelier</p><a href="https://bwhotelier.businessworld.in/article/The-Clarks-Hotels-Resorts-launches-Villas-Suites-by-The-Clarks/15-03-2023-469204/" target="_blank"><span>The Clarks Hotels &amp; Resorts launches Villas &amp; Suites by The Clarks</span></a>
                <p> </p>
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 one-col text-content"><img alt="2 Front Elevation" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/x_420,y_0,w_1080,h_1080,r_0,c_crop,q_80,fl_progressive/w_1080,f_auto,c_fit/the-clarks-hotels-resorts/2_Front_Elevation_n1l2ge"
                style="aspect-ratio: 1080/1080; " />
            <div class="text-content-wrapper">
                <p></p>
                <p>ET Hospitality</p><a href="https://hospitality.economictimes.indiatimes.com/news/hotels/the-clarks-hotels-resorts-celebrates-signing-18-new-properties-in-2023/104437128" target="_blank"><span>The Clarks Hotels &amp; Resorts celebrates signing 18 new properties in 2023</span></a>
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 one-col text-content"><img alt="Drone (4)" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/w_5000,h_2809/x_1096,y_0,w_2809,h_2809,r_0,c_crop,q_80,fl_progressive/w_1350,f_auto,c_fit/the-clarks-hotels-resorts/Drone_(4)"
                style="aspect-ratio: 2809/2809; " />
            <div class="text-content-wrapper">
                <p></p>
                <p>Hotel Management Network</p><a href="https://www.hotelmanagement-network.com/news/the-clarks-hotels-resorts-expands/" target="_blank"><span>The Clarks Hotels &amp; Resorts expands with 18 new properties in 2023</span></a>
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 one-col text-content"><img alt="9" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/x_280,y_0,w_720,h_720,r_0,c_crop,q_80,fl_progressive/w_720,f_auto,c_fit/the-clarks-hotels-resorts/9_fcydjd"
                style="aspect-ratio: 720/720; " />
            <div class="text-content-wrapper">
                <p></p>
                <p>Tourism Breaking News</p><a href="https://tourismbreakingnews.com/celebrating-the-signing-of-18-new-properties-in-2023-the-clarks-hotels-resorts/" target="_blank"><span>Celebrating the signing of 18 new properties in 2023, The Clarks Hotels &amp; Resorts</span></a>
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 one-col text-content"><img alt="The interiors of Te Port - The Clarks Exotica Island House" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/w_5000,h_3317/x_842,y_0,w_3317,h_3317,r_0,c_crop,q_80,fl_progressive/w_1350,f_auto,c_fit/the-clarks-exotica-island-house/MIH_port_cafe_gy3w5q"
                style="aspect-ratio: 3317/3317; " />
            <div class="text-content-wrapper">
                <p></p>
                <p>Hospitality Biz India</p><a href="https://hospitalitybizindia.com/news-track/the-clarks-hotels-resorts-unveils-clarks-exotica-island-house-in-port-blair/" target="_blank"><span>The Clarks Hotels &amp; Resorts Announces Clarks Exotica Island House in Port Blair</span></a>
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 one-col text-content"><img alt="The interiors of our restaurant in Port Blair - The Clarks Exotica Island House" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/w_5000,h_3217/x_892,y_0,w_3217,h_3217,r_0,c_crop,q_80,fl_progressive/w_1350,f_auto,c_fit/the-clarks-exotica-island-house/MOR_BBC_interior_ivkd5f"
                style="aspect-ratio: 3217/3217; " />
            <div class="text-content-wrapper">
                <p></p>
                <p>Today's Traveller Net</p><a href="https://www.todaystraveller.net/unveiling-of-clarks-exotica-island-house/" target="_blank"><span>The Clarks Hotels &amp; Resorts Unveils 40-key Clarks Exotica Island House in Scenic Port Blair</span></a>
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 one-col text-content"><img alt="The bedroom in Kohinoor Residence - The Clarks Exotica Island House" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/w_5000,h_3335/x_833,y_0,w_3335,h_3335,r_0,c_crop,q_80,fl_progressive/w_1350,f_auto,c_fit/the-clarks-exotica-island-house/MIH_KR_guest_bedroom1_qhzder"
                style="aspect-ratio: 3335/3335; " />
            <div class="text-content-wrapper">
                <p></p>
                <p>ET Hospitality</p><a href="https://hospitality.economictimes.indiatimes.com/news/hotels/the-clarks-hotels-resorts-unveils-clarks-exotica-island-house-in-port-blair/103006312" target="_blank"><span>The Clarks Hotels &amp; Resorts unveils Clarks Exotica Island House in Port Blair</span></a>
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 one-col text-content"><img alt="The interiors of the Emerald Suite in Port Blair - The Clarks Exotica Island House" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/w_5000,h_3334/x_833,y_0,w_3334,h_3334,r_0,c_crop,q_80,fl_progressive/w_1350,f_auto,c_fit/the-clarks-exotica-island-house/MIH_Emerald2_zyt7ds"
                style="aspect-ratio: 3334/3334; " />
            <div class="text-content-wrapper">
                <p></p>
                <p>Hotelier India</p><a href="https://www.hotelierindia.com/operations/the-clarks-hotels-resorts-unveils-clarks-exotica-island-house-in-port-blair" target="_blank"><span>The Clarks Hotels &amp; Resorts unveils Clarks Exotica Island House in Port Blair</span></a>
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 one-col text-content"><img alt="The lobby at our resort in Port Blair - The Clarks Exotica Island House" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/w_5000,h_3338/x_831,y_0,w_3338,h_3338,r_0,c_crop,q_80,fl_progressive/w_1350,f_auto,c_fit/the-clarks-exotica-island-house/MIH_lobby5_q1ipvm"
                style="aspect-ratio: 3338/3338; " />
            <div class="text-content-wrapper">
                <p></p>
                <p>Business Review Live</p><a href="https://businessreviewlive.com/the-clarks-hotels-resorts-announces-clarks-exotica-island-house-in-port-blair/" target="_blank"><span>The Clarks Hotels &amp; Resorts announces Clarks Exotica Island House in Port Blair</span></a>
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 one-col text-content"><img alt="The interiors of the Kohinoor in Port Blair - The Clarks Exotica Island House" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/w_3340,h_5000/x_0,y_830,w_3340,h_3340,r_0,c_crop,q_80,fl_progressive/w_1350,f_auto,c_fit/the-clarks-exotica-island-house/MIH_KR_living5_aeorg3"
                style="aspect-ratio: 3340/3340; " />
            <div class="text-content-wrapper">
                <p></p>
                <p>Hospitality News</p><a href="https://hospitalitynews.in/news/clarks-hotels-resorts-unveils-a-tropical-haven-introducing-clarks-exotica-island-house-in-port-blair" target="_blank"><span>Clarks Hotels &amp; Resorts Unveils a Tropical Haven: Introducing Clarks Exotica Island House in Port Blair</span></a>
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 one-col text-content"><img alt="Drone (4) edited copy" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/w_4905,h_5000/x_0,y_48,w_4905,h_4905,r_0,c_crop,q_80,fl_progressive/w_1350,f_auto,c_fit/clarks-exotica-resort-camp-dechu-jodhpur/Drone_(4)_edited_copy"
                style="aspect-ratio: 4905/4905; " />
            <div class="text-content-wrapper">
                <p></p>
                <p>ET Hospitality</p><a href="https://hospitality.economictimes.indiatimes.com/news/hotels/the-clarks-hotels-resorts-enters-dechu-with-clarks-exotica/99689314" target="_blank"><span>The Clarks Hotels &amp; Resorts enters Dechu with Clarks Exotica</span></a>
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 one-col text-content"><img alt="Drone (1)" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/w_5000,h_2809/x_1096,y_0,w_2809,h_2809,r_0,c_crop,q_80,fl_progressive/w_1350,f_auto,c_fit/clarks-exotica-resort-camp-dechu-jodhpur/Drone_1_yinz35"
                style="aspect-ratio: 2809/2809; " />
            <div class="text-content-wrapper">
                <p></p>
                <p>BW Hotelier</p><a href="https://bwhotelier.businessworld.in/article/The-Clarks-Hotels-Resorts-enters-Dechu-with-Clarks-Exotica/21-04-2023-473663/" target="_blank"><span>The Clarks Hotels &amp; Resorts enters Dechu with Clarks Exotica</span></a>
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 one-col text-content"><img alt="Drone (5)" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/w_5000,h_2809/x_1096,y_0,w_2809,h_2809,r_0,c_crop,q_80,fl_progressive/w_1350,f_auto,c_fit/clarks-exotica-resort-camp-dechu-jodhpur/Drone_5_yttbsd"
                style="aspect-ratio: 2809/2809; " />
            <div class="text-content-wrapper">
                <p></p>
                <p>Hotelier India</p><a href="https://www.hotelierindia.com/operations/a-luxurious-campsite-in-thar-for-desert-lovers" target="_blank"><span>A luxurious campsite in Thar for desert lovers!</span></a>
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 one-col text-content"><img alt="Birds (1)" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/w_5000,h_3335/x_833,y_0,w_3335,h_3335,r_0,c_crop,q_80,fl_progressive/w_1350,f_auto,c_fit/clarks-exotica-resort-camp-dechu-jodhpur/Birds_1_z8iffg"
                style="aspect-ratio: 3335/3335; " />
            <div class="text-content-wrapper">
                <p></p>
                <p>Travel Trade Journal</p><a href="https://traveltradejournal.com/the-clarks-hotels-and-resorts-enters-dechu-with-clarks-exotica/" target="_blank"><span>The Clarks Hotels and Resorts enters Dechu with Clarks Exotica</span></a>
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 one-col text-content"><img alt="Drone (2)" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/w_5000,h_2809/x_1096,y_0,w_2809,h_2809,r_0,c_crop,q_80,fl_progressive/w_1350,f_auto,c_fit/clarks-exotica-resort-camp-dechu-jodhpur/Drone_2_c4yi0n"
                style="aspect-ratio: 2809/2809; " />
            <div class="text-content-wrapper">
                <p></p>
                <p>Hotel Management Network</p><a href="https://www.hotelmanagement-network.com/news/clarks-hotels-and-resorts-launches-clarks-exotica-in-dechu/" target="_blank"><span>Clarks Hotels and Resorts launches Clarks Exotica in Dechu</span></a>
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 one-col text-content"><img alt="Clarks inn Manali Facade with light blue in the background" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/x_420,y_0,w_1080,h_1080,r_0,c_crop,q_80,fl_progressive/w_1080,f_auto,c_fit/clarks-inn-suites-manali/Clarks_inn_Manali_Facade_with_light_blue_in_the_background_y0usxd"
                style="aspect-ratio: 1080/1080; " />
            <div class="text-content-wrapper">
                <p></p>
                <p>BW Hotelier</p><a href="https://bwhotelier.businessworld.in/article/The-Clarks-Hotels-Resorts-enters-Manali-with-Clarks-Inn-Suites/22-05-2023-477505/" target="_blank"><span>The Clarks Hotels &amp; Resorts enters Manali with Clarks Inn Suites</span></a>
                <p> </p>
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 one-col text-content"><img alt=" LAL2031 edit copy" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/w_5000,h_3596/x_702,y_0,w_3596,h_3596,r_0,c_crop,q_80,fl_progressive/w_1350,f_auto,c_fit/clarks-inn-suites-manali/_LAL2031_edit_copy_ssdxst"
                style="aspect-ratio: 3596/3596; " />
            <div class="text-content-wrapper">
                <p></p>
                <p>Travel Trade Journal</p><a href="https://traveltradejournal.com/the-clarks-hotels-and-resorts-enters-manali-with-clarks-inn-suites/" target="_blank"><span>The Clarks Hotels and Resorts enters Manali with Clarks Inn Suites</span></a>
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 one-col text-content"><img alt="Maldives Facade 02" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/x_420,y_0,w_1080,h_1080,r_0,c_crop,q_80,fl_progressive/w_1080,f_auto,c_fit/clarks-exotica-kamadhoo-maldives/Maldives_Facade_02_rcjh8p"
                style="aspect-ratio: 1080/1080; " />
            <div class="text-content-wrapper">
                <p></p>
                <p>BW Hotelier</p><a href="https://bwhotelier.businessworld.in/article/The-Clarks-Hotels-Resorts-opens-Clarks-Exotica-Maldives/12-12-2022-457623/" target="_blank"><span>The Clarks Hotels &amp; Resorts opens Clarks Exotica, Maldives</span></a>
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 one-col text-content"><img alt="Maldives Facade 01" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/x_420,y_0,w_1080,h_1080,r_0,c_crop,q_80,fl_progressive/w_1080,f_auto,c_fit/clarks-exotica-kamadhoo-maldives/Maldives_Facade_01_tbfvqu"
                style="aspect-ratio: 1080/1080; " />
            <div class="text-content-wrapper">
                <p></p>
                <p>ET Hospitality</p><a href="https://hospitality.economictimes.indiatimes.com/news/hotels/clarks-hotels-resorts-opens-clarks-exotica-maldives/96268268#:~:text=Clarks%20Hotels%20%26%20Resorts%20opens%20Clarks%20Exotica%20Kamadhoo%20Maldives.,well%20as%20the%20MICE%20category."
                    target="_blank"><span>Clarks Hotels &amp; Resorts opens Clarks Exotica Maldives</span></a>
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 one-col text-content"><img alt="Normal room 2" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/w_5000,h_3338/x_831,y_0,w_3338,h_3338,r_0,c_crop,q_80,fl_progressive/w_1350,f_auto,c_fit/clarks-exotica-kamadhoo-maldives/Normal_room_2_nd0gho"
                style="aspect-ratio: 3338/3338; " />
            <div class="text-content-wrapper">
                <p></p>
                <p>Maldives Magazine</p><a href="https://bwhotelier.businessworld.in/article/The-Clarks-Hotels-Resorts-enters-Manali-with-Clarks-Inn-Suites/22-05-2023-477505/" target="_blank"><span>The Clarks Hotels &amp; Resorts expand Its Portfolio with opening Clarks Exotica, Kamadhoo Maldives</span></a>
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 one-col text-content"><img alt="SM-manali-08" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/x_0,y_0,w_4501,h_4501,r_0,c_crop,q_80,fl_progressive/w_1350,f_auto,c_fit/the-clarks-hotels-resorts/SM-manali-08_ucwd0u"
                style="aspect-ratio: 4501/4501; " />
            <div class="text-content-wrapper">
                <p></p>
                <p>Maldives Halal Travel</p><a href="https://www.maldiveshalaltravel.com/news/86" target="_blank"><span>The Clarks Hotels &amp; Resorts enters Manali with Clarks Inn Suites</span></a>
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 one-col text-content"><img alt="Side room 1" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/w_5000,h_2034/x_1483,y_0,w_2034,h_2034,r_0,c_crop,q_80,fl_progressive/w_1350,f_auto,c_fit/clarks-exotica-kamadhoo-maldives/Side_room_1_xjfcgw"
                style="aspect-ratio: 2034/2034; " />
            <div class="text-content-wrapper">
                <p></p>
                <p>Corporate Maldives</p><a href="https://corporatemaldives.com/clarks-exotica-kamadhoo-maldives-opens-its-doors-to-guests/" target="_blank"><span>Clarks Exotica Kamadhoo Maldives Opens its Doors to Guests</span></a>
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 one-col text-content"><img alt="Maldives April Offers-01" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/x_1,y_0,w_4500,h_4500,r_0,c_crop,q_80,fl_progressive/w_1350,f_auto,c_fit/the-clarks-hotels-resorts/Maldives_April_Offers-01_kgpsly"
                style="aspect-ratio: 4500/4500; " />
            <div class="text-content-wrapper">
                <p></p>
                <p>Today Traveller</p><a href="https://www.todaystraveller.net/opening-of-clarks-exotica-maldives/" target="_blank"><span>Clarks Hotels &amp; Resorts expands footprint with new 19-key Clarks Exotica, Maldives</span></a>
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 one-col text-content"><img alt="Juice bar 4" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/w_5000,h_3338/x_831,y_0,w_3338,h_3338,r_0,c_crop,q_80,fl_progressive/w_1350,f_auto,c_fit/clarks-exotica-kamadhoo-maldives/Juice_bar_4_wrnpky"
                style="aspect-ratio: 3338/3338; " />
            <div class="text-content-wrapper">
                <p></p>
                <p>Hospitality Biz India</p><a href="https://hospitalitybizindia.com/news-track/the-clarks-hotels-resorts-opens-clarks-exotica-in-maldives/" target="_blank"><span>The Clarks Hotels &amp; Resorts opens Clarks Exotica in Maldives</span></a>
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 one-col text-content"><img alt="Side room 3" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/w_5000,h_3338/x_831,y_0,w_3338,h_3338,r_0,c_crop,q_80,fl_progressive/w_1350,f_auto,c_fit/clarks-exotica-kamadhoo-maldives/Side_room_3_bfp2vv"
                style="aspect-ratio: 3338/3338; " />
            <div class="text-content-wrapper">
                <p></p>
                <p>Travel Trade Journal</p><a href="https://traveltradejournal.com/the-clarks-hotels-and-resorts-opens-clarks-exotica-maldives/" target="_blank"><span>The Clarks Hotels and Resorts opens Clarks Exotica, Maldives</span></a>
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 one-col text-content"><img alt="Media Thumbnail-01" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/x_0,y_0,w_4500,h_4500,r_0,c_crop,q_80,fl_progressive/w_1350,f_auto,c_fit/the-clarks-hotels-resorts/Media_Thumbnail-01_yxwalt"
                style="aspect-ratio: 4500/4500; " />
            <div class="text-content-wrapper">
                <p></p>
                <p>CNBC 18</p><a href="https://www.cnbctv18.com/business/hospitality-sector-changing-at-fast-pace-travelers-have-become-more-conscious-aryavir-kumar-hotel-clarks-inn-17246221.htm" target="_self"><span>Hospitality sector changing at fast pace, travelers have become more conscious: Aryavir Kumar</span></a>
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 one-col text-content"><img alt="Media Thumbnail-03" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/x_0,y_0,w_4500,h_4500,r_0,c_crop,q_80,fl_progressive/w_1350,f_auto,c_fit/the-clarks-hotels-resorts/Media_Thumbnail-03_xsybdh"
                style="aspect-ratio: 4500/4500; " />
            <div class="text-content-wrapper">
                <p></p>
                <p>BW Hotelier</p><a href="https://bwhotelier.com/article/the-clarks-hotels-resorts-launches-villas-suites-by-the-clarks-469204" target="_self"><span>The Clarks Hotels &amp; Resorts launches Villas &amp; Suites by The Clarks</span></a>
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 one-col text-content"><img alt="Media Thumbnail-07" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/x_0,y_0,w_4500,h_4500,r_0,c_crop,q_80,fl_progressive/w_1350,f_auto,c_fit/the-clarks-hotels-resorts/Media_Thumbnail-07_i6oskh"
                style="aspect-ratio: 4500/4500; " />
            <div class="text-content-wrapper">
                <p></p>
                <p>ET Hospitality</p><a href="https://hospitality.economictimes.indiatimes.com/news/hotels/the-clarks-hotels-resorts-unveils-clarks-exotica-island-house-in-port-blair/103006312" target="_self"><span>The Clarks Hotels &amp; Resorts unveils Clarks Exotica Island House in Port Blair</span></a>
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 one-col text-content"><img alt="Media Thumbnail-13" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/x_0,y_0,w_4500,h_4500,r_0,c_crop,q_80,fl_progressive/w_1350,f_auto,c_fit/the-clarks-hotels-resorts/Media_Thumbnail-13_djp8gs"
                style="aspect-ratio: 4500/4500; " />
            <div class="text-content-wrapper">
                <p></p>
                <p>BW Hotelier</p><a href="https://bwhotelier.com/article/the-clarks-hotels-resorts-enters-dechu-with-clarks-exotica-473663" target="_self"><span>The Clarks Hotels &amp; Resorts enters Dechu with Clarks Exotica</span></a>
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 one-col text-content"><img alt="Media Thumbnail-05" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/x_0,y_0,w_4500,h_4500,r_0,c_crop,q_80,fl_progressive/w_1350,f_auto,c_fit/the-clarks-hotels-resorts/Media_Thumbnail-05_con8cn"
                style="aspect-ratio: 4500/4500; " />
            <div class="text-content-wrapper">
                <p></p>
                <p>Hotel Management Network</p><a href="https://www.hotelmanagement-network.com/news/the-clarks-hotels-resorts-expands/" target="_self"><span>The Clarks Hotels &amp; Resorts expands with 18 new properties in 2023</span></a>
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 one-col text-content"><img alt="Media Thumbnail-02" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/x_0,y_0,w_4500,h_4500,r_0,c_crop,q_80,fl_progressive/w_1350,f_auto,c_fit/the-clarks-hotels-resorts/Media_Thumbnail-02_tqsdm6"
                style="aspect-ratio: 4500/4500; " />
            <div class="text-content-wrapper">
                <p></p>
                <p>Travel Trade Journal</p><a href="https://traveltradejournal.com/the-clarks-hotels-and-resorts-launches-villas-and-suites-by-the-clarks/" target="_self"><span>The Clarks Hotels &amp; Resorts launches Villas and Suites by The Clarks</span></a>
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 one-col text-content"><img alt="Media Thumbnail-06" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/x_0,y_0,w_4500,h_4500,r_0,c_crop,q_80,fl_progressive/w_1350,f_auto,c_fit/the-clarks-hotels-resorts/Media_Thumbnail-06_pmhb2h"
                style="aspect-ratio: 4500/4500; " />
            <div class="text-content-wrapper">
                <p></p>
                <p>Tourism Breaking News</p><a href="https://tourismbreakingnews.com/celebrating-the-signing-of-18-new-properties-in-2023-the-clarks-hotels-resorts/" target="_self"><span>Celebrating the signing of 18 new properties in 2023, The Clarks Hotels &amp; Resorts</span></a>
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 one-col text-content"><img alt="Media Thumbnail-10" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/x_0,y_0,w_4500,h_4500,r_0,c_crop,q_80,fl_progressive/w_1350,f_auto,c_fit/the-clarks-hotels-resorts/Media_Thumbnail-10_spqdn8"
                style="aspect-ratio: 4500/4500; " />
            <div class="text-content-wrapper">
                <p></p>
                <p>Business Review Live</p><a href="https://businessreviewlive.com/the-clarks-hotels-resorts-announces-clarks-exotica-island-house-in-port-blair/" target="_self"><span>The Clarks Hotels &amp; Resorts announces Clarks Exotica Island House in Port Blair</span></a>
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 one-col text-content"><img alt="Media Thumbnail-11" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/x_0,y_0,w_4500,h_4500,r_0,c_crop,q_80,fl_progressive/w_1350,f_auto,c_fit/the-clarks-hotels-resorts/Media_Thumbnail-11_vquu6i"
                style="aspect-ratio: 4500/4500; " />
            <div class="text-content-wrapper">
                <p></p>
                <p>Hospitality News</p><a href="https://hospitalitynews.in/news/clarks-hotels-resorts-unveils-a-tropical-haven-introducing-clarks-exotica-island-house-in-port-blair" target="_self"><span>Clarks Hotels &amp; Resorts Unveils a Tropical Haven: Introducing Clarks Exotica Island House in Port Blair</span></a>
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 one-col text-content"><img alt="Media Thumbnail-15" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/x_0,y_0,w_4500,h_4500,r_0,c_crop,q_80,fl_progressive/w_1350,f_auto,c_fit/the-clarks-hotels-resorts/Media_Thumbnail-15_baotgu"
                style="aspect-ratio: 4500/4500; " />
            <div class="text-content-wrapper">
                <p></p>
                <p>Travel Trade Journal</p><a href="https://traveltradejournal.com/the-clarks-hotels-and-resorts-enters-dechu-with-clarks-exotica/" target="_self"><span>The Clarks Hotels &amp; Resorts enters Dechu with Clarks Exotica</span></a>
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 one-col text-content"><img alt="Media Thumbnail-09" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/x_0,y_0,w_4500,h_4500,r_0,c_crop,q_80,fl_progressive/w_1350,f_auto,c_fit/the-clarks-hotels-resorts/Media_Thumbnail-09_mxyx0k"
                style="aspect-ratio: 4500/4500; " />
            <div class="text-content-wrapper">
                <p></p>
                <p>Hotelier India</p><a href="https://www.hotelierindia.com/operations/the-clarks-hotels-resorts-unveils-clarks-exotica-island-house-in-port-blair" target="_self"><span>The Clarks Hotels &amp; Resorts unveils Clarks Exotica Island House in Port Blair</span></a>
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 one-col text-content"><img alt="Media Thumbnail-17" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/x_0,y_0,w_4500,h_4500,r_0,c_crop,q_80,fl_progressive/w_1350,f_auto,c_fit/the-clarks-hotels-resorts/Media_Thumbnail-17_vwunwh"
                style="aspect-ratio: 4500/4500; " />
            <div class="text-content-wrapper">
                <p></p>
                <p>BW Hotelier</p><a href="https://bwhotelier.com/article/the-clarks-hotels-resorts-enters-manali-with-clarks-inn-suites-477505" target="_self"><span>The Clarks Hotels &amp; Resorts enters Manali with Clarks Inn Suites</span></a>
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 one-col text-content"><img alt="Media Thumbnail-08" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/x_0,y_0,w_4500,h_4500,r_0,c_crop,q_80,fl_progressive/w_1350,f_auto,c_fit/the-clarks-hotels-resorts/Media_Thumbnail-08_mdhg4y"
                style="aspect-ratio: 4500/4500; " />
            <div class="text-content-wrapper">
                <p></p>
                <p>Today's Traveller</p><a href="https://www.todaystraveller.net/unveiling-of-clarks-exotica-island-house/" target="_self"><span>The Clarks Hotels &amp; Resorts announced their upcoming property Clarks Exotica Island House in the capital city of Andaman and Nicobar Islands, Port Blair</span></a>
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 one-col text-content"><img alt="Media Thumbnail-18" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/x_0,y_0,w_4500,h_4500,r_0,c_crop,q_80,fl_progressive/w_1350,f_auto,c_fit/the-clarks-hotels-resorts/Media_Thumbnail-18_wicwrw"
                style="aspect-ratio: 4500/4500; " />
            <div class="text-content-wrapper">
                <p></p>
                <p>Travel Trade Journal</p><a href="https://traveltradejournal.com/the-clarks-hotels-and-resorts-enters-manali-with-clarks-inn-suites/" target="_self"><span>The Clarks Hotels &amp; Resorts enters Manali with Clarks Inn Suites</span></a>
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 one-col text-content"><img alt="Media Thumbnail-16" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/x_0,y_0,w_4500,h_4500,r_0,c_crop,q_80,fl_progressive/w_1350,f_auto,c_fit/the-clarks-hotels-resorts/Media_Thumbnail-16_tudhpv"
                style="aspect-ratio: 4500/4500; " />
            <div class="text-content-wrapper">
                <p></p>
                <p>Hotel Management Network</p><a href="https://www.hotelmanagement-network.com/news/clarks-hotels-and-resorts-launches-clarks-exotica-in-dechu/" target="_self"><span>Clarks Hotels &amp; Resorts launches Clarks Exotica in Dechu</span></a>
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 one-col text-content"><img alt="Media Thumbnail-12" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/x_0,y_0,w_4500,h_4500,r_0,c_crop,q_80,fl_progressive/w_1350,f_auto,c_fit/the-clarks-hotels-resorts/Media_Thumbnail-12_doyagn"
                style="aspect-ratio: 4500/4500; " />
            <div class="text-content-wrapper">
                <p></p>
                <p>ET Hospitality</p><a href="https://hospitality.economictimes.indiatimes.com/news/hotels/the-clarks-hotels-resorts-enters-dechu-with-clarks-exotica/99689314" target="_self"><span>The Clarks Hotels &amp; Resorts enters Dechu with Clarks Exotica</span></a>
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 one-col text-content"><img alt="Media Thumbnail-26" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/x_0,y_0,w_4500,h_4500,r_0,c_crop,q_80,fl_progressive/w_1350,f_auto,c_fit/the-clarks-hotels-resorts/Media_Thumbnail-26_js4ldb"
                style="aspect-ratio: 4500/4500; " />
            <div class="text-content-wrapper">
                <p></p>
                <p>ET Hospitality</p><a href="https://hospitality.economictimes.indiatimes.com/news/hotels/my-vision-is-to-make-the-clarks-hotels-resorts-a-leading-global-brand-out-of-india-aryavir-kumar/101030439" target="_self"><span>My vision is to make The Clarks Hotels &amp; Resorts a leading global brand out of India: Aryavir Kumar</span></a>
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 one-col text-content"><img alt="Media Thumbnail-19" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/x_0,y_0,w_4500,h_4500,r_0,c_crop,q_80,fl_progressive/w_1350,f_auto,c_fit/the-clarks-hotels-resorts/Media_Thumbnail-19_jkatv5"
                style="aspect-ratio: 4500/4500; " />
            <div class="text-content-wrapper">
                <p></p>
                <p>BW Hotelier</p><a href="https://bwhotelier.com/article/the-clarks-hotels-resorts-opens-clarks-exotica-maldives-457623" target="_self"><span>The Clarks Hotels &amp; Resorts opens Clarks Exotica, Maldives</span></a>
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 one-col text-content"><img alt="Media Thumbnail-21" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/x_0,y_0,w_4500,h_4500,r_0,c_crop,q_80,fl_progressive/w_1350,f_auto,c_fit/the-clarks-hotels-resorts/Media_Thumbnail-21_ovegwa"
                style="aspect-ratio: 4500/4500; " />
            <div class="text-content-wrapper">
                <p></p>
                <p>Maldives Halal Travel</p><a href="https://www.maldiveshalaltravel.com/news/86" target="_self"><span>The Clarks Hotels &amp; Resorts to open a brand new hotel in Kamadhoo, Maldives</span></a>
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 one-col text-content"><img alt="Media Thumbnail-22" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/x_0,y_0,w_4500,h_4500,r_0,c_crop,q_80,fl_progressive/w_1350,f_auto,c_fit/the-clarks-hotels-resorts/Media_Thumbnail-22_gswu1h"
                style="aspect-ratio: 4500/4500; " />
            <div class="text-content-wrapper">
                <p></p>
                <p>Corporate Maldives</p><a href="https://corporatemaldives.com/clarks-exotica-kamadhoo-maldives-opens-its-doors-to-guests/#:~:text=Nestled%20in%20the%20UNESCO%20protected,amidst%20crystal%20clear%20blue%20water."
                    target="_self"><span>Clarks Exotica Kamadhoo Maldives Opens its Doors to Guests</span></a>
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 one-col text-content"><img alt="Media Thumbnail-20" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/x_0,y_0,w_4500,h_4500,r_0,c_crop,q_80,fl_progressive/w_1350,f_auto,c_fit/the-clarks-hotels-resorts/Media_Thumbnail-20_uz6ofp"
                style="aspect-ratio: 4500/4500; " />
            <div class="text-content-wrapper">
                <p></p>
                <p>ET Hospitality</p><a href="https://hospitality.economictimes.indiatimes.com/news/hotels/clarks-hotels-resorts-opens-clarks-exotica-maldives/96268268" target="_self"><span>Clarks Hotels &amp; Resorts opens Clarks Exotica Maldives</span></a>
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 one-col text-content"><img alt="Media Thumbnail-23" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/x_0,y_0,w_4500,h_4500,r_0,c_crop,q_80,fl_progressive/w_1350,f_auto,c_fit/the-clarks-hotels-resorts/Media_Thumbnail-23_ncl1n9"
                style="aspect-ratio: 4500/4500; " />
            <div class="text-content-wrapper">
                <p></p>
                <p>Today's Traveller</p><a href="https://www.todaystraveller.net/opening-of-clarks-exotica-maldives/" target="_self"><span>Clarks Hotels &amp; Resorts expands footprint with new 19-key Clarks Exotica, Maldives</span></a>
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 one-col text-content"><img alt="Media Thumbnail-24" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/x_0,y_0,w_4500,h_4500,r_0,c_crop,q_80,fl_progressive/w_1350,f_auto,c_fit/the-clarks-hotels-resorts/Media_Thumbnail-24_vghk8v"
                style="aspect-ratio: 4500/4500; " />
            <div class="text-content-wrapper">
                <p></p>
                <p>Hospitality Biz India</p><a href="https://hospitalitybizindia.com/news-track/the-clarks-hotels-resorts-opens-clarks-exotica-in-maldives/#:~:text=The%20Clarks%20Hotels%20%26%20Resorts%20strengthens,%2C%20international%20travelers%2C%20and%20mice."
                    target="_self"><span>The Clarks Hotels &amp; Resorts opens Clarks Exotica in Maldives</span></a>
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 one-col text-content"><img alt="Media Thumbnail-25" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/x_0,y_0,w_4500,h_4500,r_0,c_crop,q_80,fl_progressive/w_1350,f_auto,c_fit/the-clarks-hotels-resorts/Media_Thumbnail-25_bhzbpj"
                style="aspect-ratio: 4500/4500; " />
            <div class="text-content-wrapper">
                <p></p>
                <p>Travel Trade Journal</p><a href="https://traveltradejournal.com/the-clarks-hotels-and-resorts-opens-clarks-exotica-maldives/" target="_self"><span>The Clarks Hotels and Resorts opens Clarks Exotica, Maldives</span></a>
                <p></p>
            </div>
        </div>
    </div>
</div> 