{% load static %}

<div class="clearfix widget-wrapper wt1tb simp-custom-home-explore-text" data-widget-id="2292648" style=" ">
    <div class="col-xs-12 one-col text-content">
        <div class="text-content-wrapper">
            <p></p>
            <h2>Explore The Unexplored!</h2>
            <p>Heaven is under our feet and over our head. ‘WORLD’ – a deep tunnel where you could dig more and explore more. The Taj Mahal, The enticing beaches of Goa, The Land of God – ‘Uttarakhand’, why not go Maldives and
                enjoy the beauty of ‘BAA ATOLL’ or the great Heritage of History – ‘Sri Lanka’. Explore and enjoy your stay!</p>
            <p></p>
        </div>
    </div>
</div>
<div class="clearfix widget-wrapper wt1imgtop-1tbbot imageDescriptionbottom1 wt-image-text-slider nonFullWidthWidget simp-custom-home-explore-slider" data-widget-id="2292649" style=" ">
    <div class="col-xs-12 one-col text-content"><img alt="Clarks Exotica Rajgarh" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/x_0,y_2,w_1127,h_634,r_0,c_crop,q_80,fl_progressive/w_900,f_auto,c_fit/the-clarks-hotels-resorts/Clarks_Exotica_Rajgarh_p2pbi1"
            style="aspect-ratio: 1127/634; " />
        <div class="text-content-wrapper">
            <p></p>
            <p><a class="internal-link" data-page-id="816725" href="./clarks-exotica-nature-resort-rajgarh/" target="_self">#internal_link__816725</a></p>
            <p></p>
        </div>
    </div>
    <div class="col-xs-12 one-col text-content"><img alt="SPT Clarks Inn Suites Mandi" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/x_0,y_0,w_1127,h_634,r_0,c_crop,q_80,fl_progressive/w_900,f_auto,c_fit/the-clarks-hotels-resorts/SPT_Clarks_Inn_Suites_Mandi_ozvv8o"
            style="aspect-ratio: 1127/634; " />
        <div class="text-content-wrapper">
            <p></p>
            <p><a class="internal-link" data-page-id="846213" href="./clarks-inn-suites-mandi/" target="_self">#internal_link__846213</a></p>
            <p></p>
        </div>
    </div>
    <div class="col-xs-12 one-col text-content"><img alt="Clarks Exotica Ramgarh" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/x_0,y_0,w_1127,h_634,r_0,c_crop,q_80,fl_progressive/w_900,f_auto,c_fit/the-clarks-hotels-resorts/Clarks_Exotica_Ramgarh_umse9u"
            style="aspect-ratio: 1127/634; " />
        <div class="text-content-wrapper">
            <p></p>
            <p><a class="internal-link" data-page-id="815596" href="./clarks-exotica-resort-ramgarh/" target="_self">#internal_link__815596</a></p>
            <p></p>
        </div>
    </div>
</div> 